
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #141414;
  color: #fff;
}

.help-center {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}

.help-center h1 {
  font-size: 36px;
  margin-bottom: 30px;
  text-align: center;
}

.categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category {
  flex-basis: 30%;
  margin-bottom: 40px;
  background-color: #222;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.category:hover {
  transform: translateY(-5px);
}

.category h2 {
  font-size: 24px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.category h2 i {
  margin-right: 10px;
  color: #e50914;
}

.category ul {
  list-style-type: none;
  padding: 0;
  
}

.category li {
  margin-bottom: 10px;
}

.category a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.category a:hover {
  color: #e50914;
}

@media (max-width: 768px) {
  
  .category ul {
    text-align: center;
  }
}
